

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  display: flex;
  height: 100vh;
  width: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: rgb(146, 146, 146);
}